* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px) !important;
    background-size: 800px;
}

h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    font-size: 10px;
}

.input-box input {
    width: 86%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0px;
    margin-left: -30px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.remember-forgot label input {
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-done {
    width: 70%;
    height: 20px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.966);
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    position: absolute;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.login-done:hover {
    background-color: rgba(140, 149, 212, 0.788);
    color: white;
}

.register-link {
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width:360px) {
    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box {
        width: 290px;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup.active {
    display: block;
}

.popup h2 {
    margin-top: 0;
}

.popup input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background: #218838;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.login-btn {
    position: absolute;
    text-decoration: none;
    margin-left: 180px;
    font-size: 17px;
    margin-top: 60px;
    background-color: #ff6347;
    border: none;
    color: #ffffff;
    padding: 5px 0px;
    height: 40px;
    border-radius: 5px;
    width: 90px;
}

.login-btn:hover {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 0px;
    height: 40px;
}